autopep8==1.4.3
Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.16.0
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
pycodestyle==2.4.0
python-dotenv==0.10.1
Werkzeug==0.14.1
WTForms==2.2.1
